.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: none;
  background-color: var(--dark-light);
}

.modal main {
  padding: 60px 20px;
  background-color: var(--dark);
  opacity: 1;
  max-width: 90vw;
  min-width: 80vw;
  min-height: max-content;
  margin: auto;
  border-radius: 10px;
}